page-home {

  .btn-facebook {
    color: #ffffff;
    background-color: #3b5998;
  }

  .btn-googleplus {
    color: #ffffff;
    background-color: #dd4b49;
  }

  .btn-youtube {
    color: #ffffff;
    background-color: #ff4b39;
  }

  .btn-linkedin {
    color: #ffffff;
    background-color: #0077b6;
  }

  .btn-twitter {
    color: #ffffff;
    background-color: #55acee;
  }

  .btn-mail {
    color: #ffffff;
    background-color: #512da8;
  }

}
